.batter {
  min-height: 473px;
  padding: 70px 0 65px 0;
  &__wraper {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
  }
  &__items {
    width: 265px;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &__subtitle {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #0d0d0d;
    margin-top: 30px;
  }
  &__text {
    margin-top: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #0d0d0d;
    a {
      color: $main-color;
    }
  }
}
